.App {
  font-family: sans-serif;
  text-align: center;
}

.list-non-bullet {
  list-style-type: none;
}

.inline-list-item {
  display: inline-block;
  padding: 1rem;
  margin: 1rem 1rem;
}

.category {
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: #1f8a70;
  color: black;
  border: 1px;
}

.category:hover {
  background-color: #fad3e7;
}

.phone {
  width: 70%;
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid gray;
  text-align: left;
}
